# Default ignored files
/shelf/
# Environment-dependent path to Maven home directory
/mavenHomeManager.xml
*.iml
.idea
target
wallet-old
wallet*
pom.xml~
.cucumber+
dependency-reduced-pom.xml
*.spvchain
/wallet.*
*.pass
*.seed
*.DS_Store
csvRepo.log